@import url('https://fonts.googleapis.com/css?family=Bungee|Titillium+Web:700');

html {
  animation: fadeSiteIn 1s ease forwards;
  animation-delay: .5s;
  opacity: 0;
  background: #111;
}

html.fadeSiteOut {
  animation: fadeSiteOut 1s ease forwards;
}

.up {
  background: blue !important;
}

.down {
  background: red !important;
}

@keyframes fadeSiteIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeSiteOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

body {
  transition: 1s opacity;
  opacity: 1;
  color: #4a4a4a;
  font-family: 'Titillium Web', sans-serif;
}

body.fade-out {
  transition: none;
  opacity: 0;
}

h1 {
  color: #fff;
  font-family: 'Bungee', cursive;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  overflow: hidden;
  color: #fefefe;
}

pre {
  background: #282c34;
}

p {
  line-height: 1.5em;
}

.section:nth-child(even) {
  background: #0a0a0a;
}

.section:nth-child(odd) {
  background: #050505;
}

strong {
  color: #fff;
  font-size: 150%;
}


.page-count {
  position: fixed;
  z-index: 999;
  top: 5px;
  right: 5px;
  color: #fff;
  opacity: .5;
}

.help {
  position: fixed;
  z-index: 9999;
  width: 20px;
  top: 5px;
  right: 7px;
  color: #fff;
  opacity: .5;
  display: none;
}

.toggler {
  position: fixed;
  z-index: 9999;
  width: 17px;
  top: 7px;
  left: 7px;
}

a.menu-toggle {
  opacity: .5;
  transition: .3s;
}

a.menu-toggle:hover {
  opacity: 1;
  transition: .3s;
}

.menu-container {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: -50%;
  overflow: auto;
  width: 50%;
  height: 100%;
  padding: 3em;
  transition: .3s;
  background: #000;
  opacity: 0;
}

.show-menu {
  left: 0%;
  width: 50%;
  opacity: 1;
  transition: .3s;
}

.keys {
  background-color: #f5f5f5;
  color: #363636 !important;
}

.menu-trigger::-webkit-scrollbar {
  width: 6px;
}

.menu-trigger::-webkit-scrollbar-track {
  background: #fff;
}

.menu-trigger::-webkit-scrollbar-thumb {
  background: #000;
}


.home {
  position: fixed;
  z-index: 9999;
  width: 20px;
  bottom: 5px;
  left: 7px;
  color: #fff;
  opacity: .5;
}

.remote {
  position: absolute;
  top: 40px;
  left: 4px;
  width: 20px;
  transition: .3s;
  opacity: .5;
}

.home:hover, .remote:hover {
  transition: .3s;
  opacity: 1;
}

.digital-clock {
  position: fixed;
  z-index: 998;
  bottom: 5px;
  right: 7px;
  margin: auto;
  text-align: center;
  color: #fff;
}

.help-container {
  position: fixed;
  z-index: 9998;
  top: 0;
  right: -50%;
  overflow: auto;
  width: 50%;
  height: 100%;
  padding: 3em;
  transition: .3s;
  background: #000;
  opacity: 0;
}

.show-help {
  right: 0%;
  width: 50%;
  opacity: 1;
  transition: .3s;
}

/*
#section1 {
  background: url(../img/1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#section2 {
  background: url(../img/2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#section3 {
  background: url(../img/3.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#section4 {
  background: url(../img/4.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/

li.selected {background:yellow !important;}
